<div class="img-container">
  <img src="{{ data.photoURL }}" alt="Placeholder" />
</div>
<div class="info">
  <div class="info-left">
    <span>
      <b class="date">{{ data.dayOfTheWeek }} {{ data.startDate }}</b>
    </span>
    <span *ngIf="data.startDate != data.endDate">
      <b class="date"> - {{ data.endDate }}</b>
    </span>
    <span *ngIf="data.location" class="location">
      <fa-icon [icon]="faMapMarkerAlt" class="fa-solid fa-map-marker">
      </fa-icon>
      {{ data.location }}
    </span>

    <h2 class="title">
      <b>{{ data.title }}</b>
    </h2>

    <p class="details">Host: {{ data.author }}</p>
  </div>
  <div class="info-right">
    <p class="details genre">{{ data.genre }}</p>
  </div>
</div>
<div class="event-container">
  <div class="info">
    <div class="attending info-left">
      <h2 class="section-heading">Attending:</h2>
      <p>(attending list)</p>
    </div>
  </div>
  <div class="info">
    <div class="info-left">
      <h2 class="section-heading">Full Description:</h2>
      <p class="description">
        {{ data.description | slice : 0 : 200
        }}<span *ngIf="data.description.length > 200">...</span>
      </p>
    </div>
  </div>
  <div class="info">
    <div class="info-left">
      <h2 class="section-heading">Add Comment:</h2>
      <p>comment entry:</p>
    </div>
  </div>
  <div class="info">
    <div class="info-left">
      <p>Discussion:</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu velit
        urna. Maecenas sollicitudin sollicitudin risus, eget ultrices sem
        posuere quis. Vivamus ultrices semper ex, ut laoreet turpis aliquet eu.
        Donec in ex massa. Vestibulum fermentum nulla lorem, in aliquet odio
        luctus eget. Duis vitae est dolor. Ut purus dolor, aliquam vel orci ac,
        tempor aliquet leo. Morbi a justo odio. Morbi in tortor mi. Maecenas
        molestie velit non arcu sollicitudin tristique. Integer consectetur,
        orci eu varius cursus, tellus massa auctor nunc, non rutrum leo est a
        augue. Cras quis elit sed lacus porttitor facilisis a quis arcu. Donec
        est ante, fringilla ac sollicitudin eu, tincidunt eget orci. Sed quis
        lectus at nulla congue lobortis ut sit amet dolor. Praesent at est diam.
        Donec et fringilla purus, in porttitor purus. Duis nec ipsum maximus
        ipsum imperdiet aliquam id vehicula odio. Morbi gravida mauris magna, in
        aliquet sapien tincidunt et. Mauris tempor bibendum est, eget
        sollicitudin nulla. Morbi eget dui vestibulum, sagittis ante eget,
        placerat nunc. Aliquam suscipit nulla sed maximus efficitur. Donec
        rutrum turpis et posuere tempus. Fusce molestie mi eget lacus volutpat
        finibus quis nec velit. Praesent velit massa, scelerisque eu nibh sit
        amet, faucibus tincidunt magna. Curabitur facilisis molestie libero, nec
        fermentum lacus dapibus non. Nullam quis eros nec augue tincidunt
        vestibulum. Ut at efficitur massa. Vivamus at gravida dui. Pellentesque
        diam velit, dictum quis nisl sed, fermentum interdum augue. Ut at dui
        arcu. Nullam eu tempor felis. Sed sit amet sapien accumsan, elementum
        arcu sed, lobortis felis. Donec et ipsum et magna viverra lobortis ac
        nec nulla. Fusce viverra in urna congue luctus. Fusce scelerisque
        laoreet pellentesque. Phasellus elementum venenatis velit et sodales.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Donec nec lobortis lorem, in tristique lacus.
        In hac habitasse platea dictumst. Maecenas tristique feugiat eleifend.
        Quisque ullamcorper mi urna, sed imperdiet mauris imperdiet eget.
        Aliquam erat volutpat. Vestibulum sit amet urna nisl. Aliquam auctor
        velit nec condimentum luctus. Curabitur diam velit, pharetra ut interdum
        ac, congue sed nulla. Nullam id imperdiet augue. Donec id ipsum non diam
        facilisis fringilla. Donec et lacus nisi. Morbi pretium quis dolor eu
        volutpat. Proin ullamcorper mattis massa nec egestas. Proin ut varius
        ipsum. Suspendisse quis urna at risus vulputate rhoncus. Phasellus id
        tincidunt nisi, id semper libero. Nulla facilisi. Vestibulum lectus
        magna, viverra egestas lacus pulvinar, hendrerit ullamcorper neque.
        Nullam id iaculis felis, condimentum placerat odio. Vivamus quis aliquet
        lacus, eget vestibulum ligula. Vestibulum sit amet bibendum mi, quis
        ullamcorper lectus. Duis quis arcu ut erat ultricies tristique. Nunc ut
        dapibus enim.
      </p>
    </div>
  </div>
</div>
