<div *ngIf="!(data.field == 'photoURL'); else isPhoto">
  <h1>Edit {{ data.fieldName }}</h1>
  <div class="form-container">
    <div class="form-details">
      <label for="detail">New {{ data.fieldName }}: </label><br />
      <input class="form-input" type="text" id="detail" name="detail" #detail />
      <br /><br />
    </div>
  </div>

  <div *ngIf="loading == false; else currentlyLoading">
    <button
      class="button button-large submit"
      (click)="changeDetail(detail.value)"
    >
      Confirm
    </button>
  </div>

  <ng-template #currentlyLoading>
    <button class="button button-large create_account_button loadingButton">
      <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
    </button>
  </ng-template>
</div>
<ng-template #isPhoto
  ><app-image-upload
    [currentPage]="pageName"
    (imageUploadEvent)="imageUploadStatus($event)"
  ></app-image-upload
></ng-template>
