<app-header></app-header>
<div class="container main">
  <div class="wrapper settingsHomePage">
    <div class="selectOption">
      <h2><a href="edit_profile" class="settingsTitle">User Profile</a></h2>
      <hr class="menu_hr" />
      <h2>
        <a href="manage_users" class="settingsTitle">Administration</a>
      </h2>
      <hr class="menu_hr" />
    </div>
    <div class="selectSetting">
      <div class="userProfileSettings">
        <div class="userNameSettings">
          <h2>Settings</h2>
          <p class="settingsFonts">Dark mode:</p>
          <button id="darkModeButton"></button>
          <button id="lightModeButton"></button>
        </div>
      </div>
    </div>
  </div>
  <hr class="rounded" />
</div>

<app-footer></app-footer>
