<app-header></app-header>

<section>
  <div class="container main">
    <p>Admin Tools</p>

    <div class="wrapper body_wrapper">
      <div class="left">
        <h1>Manage Users</h1>
      </div>
      <div class="right">
        <!-- Trigger/Open The Modal -->
        <button id="button add_btn" (click)="openModal('addUser')">
          Add New User +
        </button>
      </div>
    </div>

    <!-- This is the grid to display users -->
    <div id="grid">
      <div class="th">User</div>
      <div class="th">Role</div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
    </div>
    <div id="grid" class="user_grid" *ngFor="let item of users$ | async">
      <div class="td">
        <img class="thumbnail" src="{{ item.photoURL }}" />
        {{ item.displayName }}
      </div>
      <div class="td">
        {{ item.role }}
      </div>
      <div class="td" id="select_div">
        <select #select (change)="onSelected(select.value)">
          <option value="admin">Admin</option>
          <option value="user">User</option>
          <option selected disabled hidden>Select an option</option>
        </select>
      </div>
      <div class="td" id="btn_div">
        <button
          class="button save_button"
          (click)="changeRole(select.value, item.uid)"
        >
          Save
        </button>
      </div>
      <div class="td" id="delete_div">
        <fa-icon
          [icon]="faTrash"
          class="fa-solid fa-trash-can"
          (click)="openModal('deleteUser', item.displayName, item.uid)"
        ></fa-icon>
      </div>
    </div>

    <hr class="rounded" />
  </div>
</section>
<app-footer></app-footer>
