<app-header></app-header>

<section>
  <div class="container main">
    <p>Admin Tools</p>

    <div class="wrapper body_wrapper">
      <div class="left">
        <h1>Manage Users</h1>
      </div>
      <div class="right">
        <!-- Trigger/Open The Modal -->
        <button id="add_btn" (click)="openModal('addUser')">
          Add New User +
        </button>
      </div>
    </div>

    <!-- This is the grid to display users -->
    <div id="grid" class="user_grid">
      <div class="th">Username</div>
      <div class="th">Role</div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
    </div>
    <div
      id="grid"
      class="user_grid"
      [ngStyle]="{ 'background-color': toggleBackground() }"
      *ngFor="let item of users$ | async"
    >
      <div class="td">
        {{ item.displayName }}
      </div>
      <div class="td">
        {{ item.role }}
      </div>
      <div class="td" id="select_div">
        <select>
          <option value="Admin">User</option>
          <option value="User">Admin</option>
        </select>
      </div>
      <div class="td" id="btn_div"><button>Save</button></div>
      <div class="td" id="delete_div">
        <fa-icon [icon]="faTrash" class="fa-solid fa-trash-can"></fa-icon>
      </div>
    </div>

    <hr class="rounded" />
  </div>
</section>
<app-footer></app-footer>
