<div
  class="event-container"
  *ngFor="let event of events$ | async"
  (click)="openEvent(event)"
>
  <div class="img-container">
    <img src="{{ event.photoURL }}" alt="Placeholder" />
  </div>
  <div class="info">
    <div class="info-left">
      <span>
        <b class="date">{{ event.dayOfTheWeek }} {{ event.startDate }}</b>
      </span>
      <span *ngIf="event.startDate != event.endDate">
        <b class="date"> - {{ event.endDate }}</b>
      </span>
      <span *ngIf="event.location" class="location">
        <fa-icon [icon]="faMapMarkerAlt" class="fa-solid fa-map-marker">
        </fa-icon>
        {{ event.location }}
      </span>

      <h2 class="title">
        <b>{{ event.title }}</b>
      </h2>

      <p class="details">Host: {{ event.author }}</p>

      <p class="description">
        {{ event.description | slice : 0 : 200
        }}<span *ngIf="event.description.length > 200">...</span>
      </p>
    </div>
    <div class="info-right">
      <p class="details genre">{{ event.genre }}</p>
    </div>
  </div>
</div>
