<h2>What's On</h2>
<p>Events on this week.</p>
<div class="grid">
  <div class="event">
    <img src="../../../../../assets/placeholder.png" alt="Placeholder" />
    <div class="info">
      <h4><b>TITLE: Event 1</b></h4>
      <p>Date-time: 7pm, 11 Nov 2023</p>
      <p>Author: Anon</p>
      <p>
        Description: This is an event that is at a place somewhere and here is
        what happens at the event.
      </p>
    </div>
  </div>
  <div class="event">
    <img src="../../../../../assets/placeholder.png" alt="Placeholder" />
    <div class="info">
      <h4><b>TITLE: Event 2</b></h4>
      <p>Date-time: 7pm, 11 Nov 2023</p>
      <p>Author: Anon</p>
    </div>
  </div>
  <div class="event">
    <img src="../../../../../assets/placeholder.png" alt="Placeholder" />
    <div class="info">
      <h4><b>TITLE: Event 3</b></h4>
      <p>Date-time: 7pm, 11 Nov 2023</p>
      <p>Author: Anon</p>
    </div>
  </div>
</div>
