<div class="event-container event2" *ngFor="let event of events$ | async">
  <div class="img-container">
    <img src="{{ event.photoURL }}" alt="Placeholder" />
  </div>
  <div class="info">
    <div class="info-left">
      <b class="date">{{ event.dayOfTheWeek }} {{ event.date }}</b>
      <h2 class="title">
        <b>{{ event.title }}</b>
      </h2>
      <p class="details">by {{ event.author }}</p>
    </div>
    <div class="info-right">
      <p class="details genre">{{ event.genre }}</p>
    </div>
  </div>
  <div class="info">
    <p class="description">
      {{ event.description }}
    </p>
  </div>
</div>
