.logindetails {
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

/*
  INPUTS
*/

.logindetails input {
  border: none;
  border-bottom: 2px solid #6d4199;
  padding: 5px 20px 5px 20px;
  background-color: transparent;
  width: 50%;
  box-sizing: border-box;
}

.logindetails input:focus {
  outline: none;
  border-bottom: 2px solid #8011e2;
}

.logindetails .is-error {
  background-color: #fed3d3;
  color: #820000;
  padding: 0.5em;
  margin-bottom: 0em;
  text-align: center;
  font-size: 0.8em;
  width: 50%;
  box-sizing: border-box;
}

.loginButtons {
  margin-top: 2em;
}

#CreateAccount {
  float: left;
  margin-top: 12px;
  color: #6d4199;
}

.g-signin2 {
  margin: 0 auto;
  width: 180px;
  padding: 1em;
}

.loadingButton {
  float: right;
  border: none;
  background-color: #f4ffff;
  color: #6d4199;
  cursor: pointer;
}

/*
  RESPONSIVE
*/
@media only screen and (max-width: 768px) {
  .logInPage,
  .main {
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    transition: ease all 0.5s;
  }

  footer {
    min-width: 300px;
  }
}
