.loginButtons {
  margin-top: 2em;
}

#CreateAccount {
  float: left;
  margin-top: 12px;
  color: #6d4199;
}

.is-error {
  background-color: #fed3d3;
  color: #820000;
  padding: 0.5em;
  margin-bottom: 0em;
  text-align: center;
  font-size: 0.8em;
}

.g-signin2 {
  margin: 0 auto;
  width: 180px;
  padding: 1em;
}

/*
  RESPONSIVE
*/
@media only screen and (max-width: 768px) {
  .logInPage,
  .main {
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    transition: ease all 0.5s;
  }

  footer {
    min-width: 300px;
  }
}
