<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="logindetails">
    <label form_left_align>Username: </label><br />
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      #nameInput="ngModel"
      required
    />
    <br /><br />
    <div class="is-error" *ngIf="nameInput.invalid && nameInput.touched">
      Your Username Is Required.
    </div>
  </div>
  <div class="logindetails">
    <label>Password: </label><br />
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      #passInput="ngModel"
      required
    />
    <br /><br />
    <div class="is-error" *ngIf="passInput.invalid && passInput.touched">
      Your Password Is Required.
    </div>
  </div>

  <div class="loginButtons">
    <a routerLink="create-account" id="CreateAccount">Create Account</a>
    <button type="submit" class="loginButton" [disabled]="loginForm.invalid">
      Sign In
    </button>
  </div>
</form>

<hr class="rounded" />
