.title-container {
    display: flex;
    align-items: flex-end;
    min-height: 210px;
    color: white;
    background-color: #6d4199;
    border-radius: 0px 0px 15px 0px;
  }
  
  .title {
    color: white;
    margin: 0px;
  }
  
  .title-wrapper {
    padding: 0px 0px 20px 40px;
  }