<div class="flex" *ngIf="loading == false; else currentlyLoading">
  <input
    type="file"
    id="file"
    #userPhoto
    (change)="onFileSelected($event)"
    name="image"
    autocomplete="off"
    accept=".png,.jpg"
  />
  <button class="button" *ngIf="currentPage == 'profile'" (click)="addData()">
    Upload Image
  </button>
  <button
    class="button upload-button"
    *ngIf="currentPage == 'event'"
    (click)="addDataEvent()"
  >
    Upload Image
  </button>
</div>
<ng-template #currentlyLoading>
  <button class="button upload-button loadingButton">
    <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
  </button>
</ng-template>
