<h1 id="CreateHeading">Create your account:</h1>

<form onsubmit="return false;">
  <div class="logindetails">
    <label for="Uname">Username: </label><br />
    <input type="text" id="Uname" name="Uname" /><br /><br />
  </div>

  <div class="logindetails">
    <label for="emailName">E-mail: </label><br />
    <input type="text" id="emailName" name="emailName" /><br /><br />
  </div>

  <div class="logindetails">
    <label for="Pname">Password: </label><br />
    <input type="Password" id="Pname" name="Pname" /> <br /><br />
  </div>

  <div class="logindetails">
    <label for="Pname">Confirm Password: </label><br />
    <input type="Password" id="confirmPname" name="Pname" /> <br /><br />
  </div>

  <button class="create_account_Button" onclick="signUp()">Get Started!</button>
</form>
