#CreateHeading {
  margin-bottom: 1em;
}

.create_account_Button {
  margin: 2em;
}

.logindetails {
  display: inline-block;
  margin: 5px;
}

.loadingButton {
  border: none;
  background-color: #f4ffff;
  color: #6d4199;
  cursor: pointer;
}
