.form-set {
  display: flex;
  flex-wrap: wrap;
}

.create-account-details {
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.create-account-details label {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}

/*
  INPUTS
*/

.create-account-details input {
  border: none;
  border-bottom: 2px solid #6d4199;
  padding: 5px 20px 5px 20px;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
}

.create-account-details input:focus {
  outline: none;
  border-bottom: 2px solid #8011e2;
}

.create-account-details .is-error {
  background-color: #fed3d3;
  color: #820000;
  padding: 0.5em;
  margin-bottom: 0em;
  text-align: center;
  font-size: 0.8em;
  width: 100%;
  box-sizing: border-box;
}

#CreateHeading {
  // margin-bottom: 1em;
}

.create_account_Button {
  margin: 0 auto;
  margin-top: 2em;
}

.loadingButton {
  border: none;
  background-color: #f4ffff;
  color: #6d4199;
  cursor: pointer;
}
