<h1 id="CreateHeading">Create your account:</h1>

<form [formGroup]="form" (ngSubmit)="onSignUp()">
  <div class="form-elements">
    <div class="logindetails">
      <label>Username: </label><br />
      <input type="text" formControlName="displayName" required />
      <br /><br />
      <div class="is-error" *ngIf="submitted && f['displayName'].errors">
        *A Valid Username Is Required.
      </div>
    </div>

    <div class="logindetails">
      <label>Email: </label><br />
      <input type="text" formControlName="email" required />
      <br /><br />
      <div class="is-error" *ngIf="submitted && f['email'].errors">
        *A Valid Email Is Required.
      </div>
    </div>

    <div class="logindetails">
      <label>First Name: </label><br />
      <input type="text" formControlName="firstName" required />
      <br /><br />
      <div class="is-error" *ngIf="submitted && f['firstName'].errors">
        *Your First Name Is Required.
      </div>
    </div>

    <div class="logindetails">
      <label>Last Name: </label><br />
      <input type="text" formControlName="lastName" required />
      <br /><br />
      <div class="is-error" *ngIf="submitted && f['lastName'].errors">
        *Your Last Name Is Required.
      </div>
    </div>

    <div class="logindetails">
      <label>Password: </label><br />
      <input type="password" formControlName="password" required />
      <br /><br />
      <div class="is-error" *ngIf="submitted && f['password'].errors">
        *A Password Is Required.
      </div>
    </div>

    <div class="logindetails">
      <label>Confirm Password: </label><br />
      <input type="password" formControlName="confirmPassword" required />
      <br /><br />
      <div class="is-error" *ngIf="submitted && f['confirmPassword'].errors">
        *Please Confirm Your Password.
      </div>
    </div>

    <button class="create_account_Button" type="submit">Get Started!</button>
  </div>
</form>
