<section class="section">
  <div class="container logInPage">
    <img
      src="/assets/logo/EVENTLY_LOGO.png"
      alt="Evently Logo"
      class="center_logo"
    />

    <router-outlet></router-outlet>

    <!-- Google Sign In -->
    <!-- <div
        class="g-signin2"
        data-onsuccess="onSignIn"
        data-theme="dark"
        data-longtitle="true"
      ></div>
  
      <div class="center">
        <div
          id="g_id_onload"
          data-client_id="442183689890-q1n35g54dlq2se6c8k47k4iuojvmrhlv.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-callback="handleCredentialResponse"
          data-auto_prompt="false"
        ></div>
  
        <div
          class="g_id_signin"
          data-type="standard"
          data-shape="rectangular"
          data-theme="filled_blue"
          data-text="signin_with"
          data-size="large"
          data-logo_alignment="left"
        ></div>
      </div> -->
  </div>

  <app-footer></app-footer>
</section>
