.center {
  display: flex;
  justify-content: center;
}

.center_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 250px;
  padding: 45px 0px 45px 0px;
}

.container {
  margin: auto;
  padding: 5em;
  min-width: 380px;
  max-width: 512px;
  background-color: #f4ffff;
  border-radius: 25px;
  box-shadow: 0.3em 0.5em 3em rgba(0, 0, 0, 0.7);
  transition: ease all 0.5s;
}

.logInPage {
  text-align: center;
  margin-top: 3em;
}

.logindetails {
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  width: 230px;
}

/*
  INPUTS
*/

input {
  border: none;
  border-bottom: 2px solid #6d4199;
  padding: 5px 20px 5px 20px;
  background-color: transparent;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #8011e2;
}

/*
  BUTTONS
*/

button {
  margin: 0 auto;
  background-color: #6d4199;
  color: white;
  border: 2px solid #6d4199;
  padding: 12px 50px 12px 50px;
  text-align: center;
  border-radius: 7px;
  transition: ease-in-out 0.2s;
}

button:hover {
  background-color: #f4ffff;
  color: #6d4199;
  cursor: pointer;
}

// Change this to login button
.loginButton {
  float: right;
  margin-bottom: 10px;
}

hr.rounded {
  clear: both;
  border: 2px solid #6d4199;
}

.g-signin2 {
  margin: 0 auto;
  width: 180px;
  padding: 1em;
}

/*
  RESPONSIVE
*/
@media only screen and (max-width: 768px) {
  .logInPage,
  .main {
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    transition: ease all 0.5s;
  }

  header {
    min-width: 300px;
    padding-left: 0px;
    padding-right: 0px;
    transition: ease all 0.5s;
  }

  .header_wrapper {
    min-width: 300px;
    transition: ease all 0.5s;
  }

  footer {
    min-width: 300px;
  }
}

@media only screen and (max-width: 1050px) {
  #grid {
    display: block;
  }

  .th {
    display: none;
  }

  .td {
    justify-content: center;
  }
}
