/*
    HEADER
*/

.header {
  background-color: #f4ffff;
  box-shadow: 0.3em 0.5em 3em rgba(0, 0, 0, 0.7);
}

.header_wrapper {
  align-items: center;
  justify-content: space-around;
}

.logo {
  max-width: 200px;
  height: auto;
}

.header_left {
  text-align: left;
}

.header_right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.logout {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 5px 50px 5px 50px;
}
