<app-header></app-header>
<section>
  <div class="dashboard-section">
    <div class="dashboard-left">
      <div class="dashboard-container">
        <img class="thumbnail" src="{{ user.photoURL }}" />
        <p>
          <b>Hello, {{ user.displayName }}!</b>
        </p>
        <hr style="height: 3px; background-color: #525252; border: none" />

        <nav class="menu">
          <a
            class="menu-item2"
            routerLinkActive="active-item"
            routerLink="whats-on"
            >What's On</a
          >
          <a
            class="menu-item2"
            routerLinkActive="active-item"
            routerLink="my-events"
            >My Events</a
          >
          <a
            class="menu-item2"
            routerLinkActive="active-item"
            routerLink="calendar"
            >Calendar</a
          >
        </nav>
      </div>
      <div class="dashboard-container">
        <button>New Event +</button>
      </div>
    </div>
    <div>
      <div class="sort-container">
        <button class="sort-button sort-flex">
          <hr class="hr-sort" />
          <span class="sort">
            <p>Sort</p>
          </span>
          <span class="sort">
            <fa-icon
              [icon]="faCaretDown"
              class="fa-solid fa-caret-down"
              (click)="dropDownMenu()"
            ></fa-icon>
          </span>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
    <div class="dashboard-right">
      <div class="dashboard-container">
        <form>
          <input />
          <button>Search</button>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
