.dashboard-section {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.dashboard-container {
  text-align: center;
  border: #6d4199;
  margin: 1em;
  padding: 20px;
  background-color: #f4ffff;
  border-radius: 25px;
  box-shadow: 0.3em 0.5em 3em rgba(0, 0, 0, 0.7);
  transition: ease all 0.5s;
}

.dashboard-left {
  width: 20%;
  text-align: center;
  height: fit-content;
}

.dashboard-middle {
  width: 80%;
  text-align: center;
}

.dashboard-right {
  width: 20%;
  text-align: center;
  height: fit-content;
}

.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashboard {
  // padding: 50px;
  display: flex;
  // min-width: 80vw;
}

.wide {
  width: 80%;
  min-width: 380px;
  margin-top: 3em;
}

.side-menu {
  width: 20%;
  border-right: 2px solid #6d4199;
}

// .menu {
//   // display: block;
// }

.top-bar-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.top-bar-left {
  text-align: left;
}

.top-bar-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.menu-item {
  display: block;
  color: #6d4199;
  text-align: center;
  padding: 25px 20px 25px 20px;
  border: 1px solid #6d4199;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 15px 0px 0px 15px;
  margin: 0px 0px 0px 5px;
  transition: 0.3s;
  text-decoration: none;
}

.menu-item2 {
  display: block;
  // color: #6d4199;
  text-align: center;
  // padding: 25px 20px 25px 20px;
  padding: 5px;
  border: 1px solid #7a7a7a;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  // border-radius: 15px 0px 0px 15px;
  margin: 0px 0px 0px 5px;
  transition: 0.3s;
  text-decoration: none;
}

.active-item {
  color: white;
  background-color: #6d4199;
}

.menu-item:hover {
  cursor: pointer;
  color: white;
  background-color: #6d4199;
}

.content {
  width: 80%;
}

.eventHeader {
  border: 2px dashed #d8d8d8;
  width: 95%;
  height: 5%;
  padding: 8px;
  margin: 10px;
}

#addEvent {
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin: auto;
  padding: 1px;
  color: white;
}
