.eventHeader {
  border: 2px dashed #d8d8d8;
  width: 95%;
  height: 5%;
  padding: 8px;
  margin: 10px;
}

#addEvent {
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin: auto;
  padding: 1px;
  color: white;
}
