<div *ngIf="data.field == 'addUser'; else isDelete">
  <div class="form-container">
    <h1>Create New User</h1>
    <p>Fill out form below to create new user:</p>
    <br />
    <form onsubmit="return false;">
      <div class="form-details">
        <label for="Uname">Username: </label><br />
        <input type="text" id="Uname" name="Uname" /><br /><br />
      </div>

      <div class="form-details">
        <label for="emailName">E-mail: </label><br />
        <input type="text" id="emailName" name="emailName" /><br /><br />
      </div>

      <div class="form-details">
        <label for="Rname">Role: </label><br />
        <select id="Rname" name="Rame">
          <option selected value="2">user</option>
          <option value="1">admin</option>
        </select>
        <br /><br />
      </div>

      <div class="form-details">
        <label for="Pname">Password: </label><br />
        <input type="Password" id="Pname" name="Pname" /> <br /><br />
      </div>

      <div class="form-details">
        <label for="Pname">Confirm Password: </label><br />
        <input type="Password" id="confirmPname" name="Pname" />
        <br /><br />
      </div>

      <button class="add_user_button" onclick="create_user();">Add User</button>
    </form>
  </div>
</div>

<!-- Modal - Delete User -->
<ng-template #isDelete>
  <div class="form-container">
    <h1>Delete User</h1>
    <p id="delete_p">Are you sure you want to delete {{ userName }}?</p>
    <br />
    <button class="delete_user_button" (click)="deleteUser()">
      Yes, I'm sure.
    </button>
  </div>
</ng-template>
