.center {
  display: flex;
  justify-content: center;
}

.center_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 250px;
  padding: 45px 0px 45px 0px;
}

.container {
  margin: auto;
  padding: 50px;
  min-width: 380px;
  background-color: #f4ffff;
  border-radius: 25px;
  box-shadow: 0.3em 0.5em 3em rgba(0, 0, 0, 0.7);
  transition: ease all 0.5s;
}

// Don't know what this is for
// .main {
//   width: 60%;
//   min-width: 380px;
//   margin-top: 3em;
// }

/*
  FLEX
*/

// .wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 15px 0px 15px 0px;
// }

// .body_wrapper {
//   align-items: center;
//   justify-content: space-between;
// }

// .right {
//   text-align: right;
// }

// .left {
//   text-align: left;
// }

// .center_text {
//   text-align: center;
// }

// /*
//     HEADER
// */

// .header {
//   background-color: #f4ffff;
//   box-shadow: 0.3em 0.5em 3em rgba(0, 0, 0, 0.7);
// }

// .header_wrapper {
//   align-items: center;
//   justify-content: space-around;
// }

// .logo {
//   max-width: 200px;
//   height: auto;
// }

// .header_left {
//   text-align: left;
// }

// .header_right {
//   display: flex;
//   justify-content: flex-end;
//   text-align: right;
// }

// .logout {
//   margin-top: 10px;
//   margin-bottom: 10px;
//   margin-left: 15px;
//   padding: 5px 50px 5px 50px;
// }

.logInPage {
  text-align: center;
  width: 40%;
  min-width: 380px;
  margin-top: 3em;
}

.homePage {
  padding: 20px;
  width: 80%;
  height: 500px;
  margin: auto;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
}

.settingsPage {
  padding: 20px;
  width: 80%;
  margin: auto;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
}

.logindetails {
  margin: 0 auto;
  text-align: left;
  width: 230px;
}

/*
  INPUTS
*/

input {
  border: none;
  border-bottom: 2px solid #6d4199;
  padding: 5px 20px 5px 20px;
  background-color: transparent;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #8011e2;
}

/*
  BUTTONS
*/

button {
  margin: 0 auto;
  background-color: #6d4199;
  color: white;
  border: 2px solid #6d4199;
  padding: 12px 50px 12px 50px;
  text-align: center;
  border-radius: 7px;
  transition: ease-in-out 0.2s;
}

button:hover {
  background-color: #f4ffff;
  color: #6d4199;
  cursor: pointer;
}

// Change this to login button
.loginButton {
  float: right;
  margin-bottom: 10px;
}

// .subButton {
//   float: right;
//   margin-bottom: 10px;
// }

// .create_account_Button {
//   margin-top: 30px;
// }

// .nav_button a {
//   text-decoration: none;
//   color: white;
// }

// .nav_button a:hover {
//   color: #6d4199;
//   cursor: pointer;
// }

// .delete_user_button {
//   background-color: red;
//   border: 2px solid red;
// }

// .delete_user_button:hover {
//   color: red;
// }

#CreateAccount {
  float: left;
  margin-top: 12px;
  color: #6d4199;
}

hr.rounded {
  clear: both;
  border: 2px solid #6d4199;
}

.g-signin2 {
  margin: 0 auto;
  width: 180px;
  padding: 1em;
}

// .headerPage {
//   width: 95%;
//   height: 10%;
//   border: 2px solid #d8d8d8;
//   background-color: #d8d8d8;
//   padding: 8px;
//   margin: 10px;
//   border-radius: 8px;
// }

// .headerImage {
//   float: left;
//   height: 100%;
// }

// .profileImage {
//   float: right;
//   max-height: 100%;
//   max-width: 100%;
// }

// .eventHeader {
//   border: 2px dashed #d8d8d8;
//   width: 95%;
//   height: 5%;
//   padding: 8px;
//   margin: 10px;
// }

// #addEvent {
//   text-align: center;
//   margin: auto;
//   padding: 1px;
// }

// #calendarBackground {
//   max-width: 95%;
//   height: 350px;
//   border: 2px solid #d8d8d8;
//   background-color: #d8d8d8;
//   padding: 8px;
//   margin: 10px;
//   border-radius: 8px;
// }

// /*
//   SETTINGS
// */

// .selectOption {
//   margin: 10px 0px 10px 0px;
//   padding: 0px 0px 40px 0px;
//   height: 100%;
//   border-radius: 8px;
// }

// .selectSetting {
//   flex-grow: 3;
// }

// .settingsHomePage {
// }

// .settingsTitle {
//   margin: 20px;
//   text-decoration: none;
//   color: #6d4199;
// }

// .selectSetting {
//   margin: 10px;
//   padding: 0px 20px 20px 20px;
//   position: relative;
//   border: none;
//   background-color: #6d41990e;
//   border-radius: 8px;
// }

// .menu_hr {
//   border: 1px solid #6d41990e;
// }

// /*
//   GRID STUFF
// */

// #grid {
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   align-items: center;
// }

// .th,
// .td {
//   display: flex;
//   align-items: center;
//   text-align: left;
//   padding: 15px;
//   height: 60%;
// }

// .th {
//   font-weight: bold;
//   border-bottom: 1px solid rgba(109, 65, 153, 1);
// }

// .td:nth-child(3) {
//   text-align: right;
// }

// .fa-trash-can {
//   color: #6d4199;
// }

// .fa-trash-can:hover {
//   color: red;
//   cursor: pointer;
//   transition: ease all 0.3s;
// }

// select {
//   margin: 0 auto;
//   background-color: transparent;
//   border: none;
//   border-bottom: 2px solid #6d4199;
//   padding: 12px 30px 12px 30px;
//   text-align: center;
// }

// select:hover {
//   border-bottom: 2px solid #8011e2;
//   cursor: pointer;
// }

// /*
//   Profile Stuff
// */

// .profile_image {
//   max-width: 200px;
//   border-radius: 50%;
//   box-shadow: 0.3em 0.5em 3em rgba(0, 0, 0, 0.07);
//   transition: ease all 0.5s;
// }

// .profile_image:hover {
//   box-shadow: 0.3em 0.5em 3em rgba(0, 0, 0, 0.3);
//   opacity: 0.5;
//   cursor: pointer;
//   transition: ease all 0.5s;
// }

// /* Tooltip container */
// .tooltip {
//   position: relative;
//   display: inline-block;
// }

// /*
//   Tooltip text
// */

// .tooltiptext {
//   visibility: hidden;
//   position: absolute;
//   z-index: 1;
//   width: 150px;
//   background-color: #555;
//   color: #fff;
//   text-align: center;
//   padding: 10px 0px 10px 0px;
//   border-radius: 6px;

//   bottom: 95%;
//   left: 40%;
//   margin-left: -60px;

//   opacity: 0;
//   transition: ease all 0.3s;
// }

// .img_tooltip {
//   left: 45%;
// }

// /*
//   Tooltip arrow
// */

// .tooltip .tooltiptext::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }

// .tooltip:hover .tooltiptext {
//   visibility: visible;
//   bottom: 105%;
//   opacity: 1;
// }

// .clickable {
//   cursor: pointer;
// }

// /*
//   Footer Stuff
// */

// footer {
//   margin: auto;
//   bottom: 0;
//   padding: 50px 0px 50px 0px;
//   width: 100%;
//   color: #f4ffff;
//   font-size: 12px;
//   text-align: center;
// }

// .footer_nav {
//   align-items: center;
// }

// .footer_nav ul {
//   margin: 0 auto;
//   padding: 0;
// }

// .footer_nav li {
//   list-style-type: none;
//   display: inline;
//   text-align: center;
//   margin-left: 10px;
//   margin-right: 10px;
// }

// .footer_nav a {
//   color: #f4ffff;
//   text-decoration: none;
// }

// .footer_nav a:hover {
//   text-decoration: underline;
// }

// .footer_hr {
//   width: 30%;
//   min-width: 25em;
//   background-color: #eaeaea;
//   opacity: 30%;
// }

/*
  RESPONSIVE
*/
@media only screen and (max-width: 768px) {
  .logInPage,
  .main {
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    transition: ease all 0.5s;
  }

  header {
    min-width: 300px;
    padding-left: 0px;
    padding-right: 0px;
    transition: ease all 0.5s;
  }

  .header_wrapper {
    min-width: 300px;
    transition: ease all 0.5s;
  }

  footer {
    min-width: 300px;
  }
}

@media only screen and (max-width: 1050px) {
  #grid {
    display: block;
  }

  .th {
    display: none;
  }

  .td {
    justify-content: center;
  }
}

// /*
//   HOMEPAGE
// */

// .homePage {
//   padding: 20px;
//   width: 80%;
//   height: 500px;
//   margin: auto;
//   border: 2px solid #d8d8d8;
//   border-radius: 8px;
// }

// .eventHeader {
//   border: 2px dashed #d8d8d8;
//   width: 95%;
//   height: 5%;
//   padding: 8px;
//   margin: 10px;
// }

// .headerPage {
//   width: 95%;
//   height: 10%;
//   border: 2px solid #d8d8d8;
//   background-color: #d8d8d8;
//   padding: 8px;
//   margin: 10px;
//   border-radius: 8px;
// }

// .headerImage {
//   float: left;
//   height: 100%;
// }

// #calendarBackground {
//   max-width: 95%;
//   height: 350px;
//   border: 2px solid #d8d8d8;
//   background-color: #d8d8d8;
//   padding: 8px;
//   margin: 10px;
//   border-radius: 8px;
// }

// #addEvent {
//   font-family: "Nunito", sans-serif;
//   text-align: center;
//   margin: auto;
//   padding: 1px;
//   color: white;
// }

// .settingsLink {
//   text-decoration: none;
//   color: #6d4199;
// }

// #lightModeButton {
//   margin: 0;
//   display: inline;
//   background-color: #d4ba15;
//   border: none;
//   width: 40px;
//   height: 20px;
//   border-radius: 3px;
// }

// #lightModeButton:focus {
//   margin: 0;
//   display: inline;
//   background-color: orange;
//   border: orange;
//   width: 40px;
//   height: 20px;
//   border-radius: 3px;
// }

// #darkModeButton {
//   margin: 0;
//   display: inline;
//   background-color: #8011e2;
//   border: none;
//   width: 40px;
//   height: 20px;
//   border-radius: 3px;
// }

// #darkModeButton:focus {
//   margin: 0;
//   display: inline;
//   background-color: orange;
//   border: none;
//   width: 40px;
//   height: 20px;
//   border-radius: 3px;
// }

// .emailNoModeButton {
//   margin: 0;
//   display: inline;
//   background-color: #d4ba15;
//   border: none;
//   width: 40px;
//   height: 20px;
//   border-radius: 3px;
// }

// .emailNoModeButton:focus {
//   margin: 0;
//   display: inline;
//   background-color: orange;
//   border: none;
//   width: 40px;
//   height: 20px;
//   border-radius: 3px;
// }

// .emailYesModeButton {
//   margin: 0;
//   display: inline;
//   background-color: #8011e2;
//   border: none;
//   width: 40px;
//   height: 20px;
//   border-radius: 3px;
// }

// .emailYesModeButton:focus {
//   margin: 0;
//   display: inline;
//   background-color: orange;
//   border: none;
//   width: 40px;
//   height: 20px;
//   border-radius: 3px;
// }

// .darkModeThemeDiv {
//   color: #fff9f7;
//   background-color: #353438;
// }
